

body{
  font-family: Arial, sans-serif;  
  line-height:1.6;
  margin: 0;
  padding: 0;
}

header, nav, footer{
      background-color: #f4f4f4;
      padding:1rem;
}


     nav ul{
        list-style:none;
        padding: 0;
        display: flex;
        gap: 1rem;
     }
nav a {
    text-decoration: none ;
    color: #333;

}

main{
    padding: 2rem;
}
.changelog-entry{
    margin-bottom:2rem;
}
.changelog-entry h3{
    margin-bottom: 0.5rem;
    color: #2c3e50;
}
.changelog-entry ul{
    margin: 0;
    padding-left: 1.2rem;
}
.label{
    font-weight: bold;
}


#toggle-theme{
    background:none;
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 6px 12px;
    font-size: 1rem;
    cursor: pointer;
    margin-top:15px;
    color: inherit;
}


#toggle-theme:hover{
    border-color:#4dabf7;
}

body{
    background-color:#f4f6f8;
    color: #333;
}

body.dark{
    background-color: #121212;
    color: #e0e0e0;
}

body.dark header,
body.dark section,
body.dark footer{
    background-color:#1e1e1e;
}

body.dark a{
    color:#4dabf7;
}







