* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
  color: #333;
}

header {
  background: #222;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background: white;
}

h2 {
  font-size: 32px;
  margin-top: 100px;
}

footer {
  text-align: center;
  margin-top:170px;
  padding: 15px;
  background: #222;
  color: white;
}
