
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, Helvetica, sans-serif;

}

body.dark{
  background-color: #0f172a;
  color:#e5e7eb;
}

header{
  background-color:#020617;
  padding:1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1{
  color:#38bdf8;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a {
  color: #111213;
  text-decoration:none;
  transition:color 0.3s;

}

nav a:hover{
  color: #38bdf8;
}

main{
padding:3rem 1rem;
max-width:1200px;
margin:auto;

}

.projetos h1{
  text-align:center;
  margin-bottom:2rem;
  color:#38bdf8;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }
  
  .card {
    background-color: #020617;
    padding:2rem;
    border-radius:12px;
    box-shadow:0 10px 25px rgb(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .card:hover{
    transform: translateY(-8px);
    box-shadow:0 15px 35px rgba(56, 189, 248, 0.3);
  }

  .card h3{
    margin-bottom:0.5rem;
    color:#38bdf8;

  }

  .card p{
    font-size:0.95rem;
    margin-bottom:1.5rem;
    color:#cbd5f5;
  }
  
  .card a {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    background-color:#38bdf8;
    color:#020617;
    text-decoration: none;
    font-weight: bold;
    transition: backgraund 0.3s, transform 0.2s;
  }

  .card a:hover{
    background-color:#0ea5e9;
    transform: scale(1.05);
  }

  footer{
    text-align: center;
    padding:1.5rem;
    background-color:#020617;
    margin-top:3rem;
    color:#94a3b8;
  }