
/** caixa de perguntas quiz-3  */
.recipiente{
    max-width:700px;
    margin:125px auto;
    padding:70px;
    border-radius:8px;
    text-align:center;
}


#tlmt{
    background: #1e1e1e;
    color:#fff;
    width:700px;
    padding:50px;
    border-radius:20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
    text-align: center;
}

#card-quiz-3{
    background: #1e1e1e;
    color:#fff;
    width:700px;
    padding:50px;
    border-radius:20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
    text-align: center; 
}

#res{
    background: #1e1e1e;
    color:#fff;
    width:700px;
    padding:50px;
    border-radius:20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
    text-align: center;
    
}

/*Perguntas e resposta*/
h1, h2{
    margin-bottom: 15px;
}

#answers-mt button{
    margin-bottom:10px;
    text-align: center;
  }


/** botão iniciar  */
#bi{
    width: 700px;
    padding:20px;
    
}


/**botão de passar para a proxima pergunta do quiz-2 */
#px{
    width: 100px;
    padding:10px;
}



/*botões com as alternativas quiz-2 */
button{
    display:block;
    width:700px;
    margin:18px 0;
    padding:20px;
    cursor: pointer;
    font-size:16px;

}


.correct{
    background-color:rgb(16, 172, 21);
    color:white;
}
.wrong{
    background-color:#f01a0b;
    color:white;
}
.hide{
    display:none;
}