/*caixa de perguntas quiz-2 */
.caixa{
    max-width:700px;
    margin:50px auto;
    padding:100px;
    border-radius:50px;
    text-align:center;
}

#tela-inicial{
    background: #1e1e1e;
    color:#fff;
    width:700px;
    padding:50px;
    border-radius:20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
    text-align: center;
}

#quiz-2-card{
    background: #1e1e1e;
    color:#fff;
    width:700px;
    padding:50px;
    border-radius:20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
    text-align: center;
}

#resultado{
    background: #1e1e1e;
    color:#fff;
    width:700px;
    padding:50px;
    border-radius:20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
    text-align: center;
}

/*botão de iniciar o quiz-2 */
#btn{
    width: 700px;
    height:60px;
    padding:10px;
    
    
}

/**botão de passar para a proxima pergunta do quiz-2 */
#proximo{
    width: 100px;
    padding:10px;
}



/*botões com as alternativas quiz-2 */
button{
    display:block;
    width:700px;
    margin:18px 0;
    padding:20px;
    cursor: pointer;
    font-size:16px;

}


.correct{
    background-color:rgb(16, 172, 21);
    color:white;
}
.wrong{
    background-color:#f01a0b;
    color:white;
}
.hide{
    display:none;
}


